@using BOL;

@{
    ViewData["Title"] = "Delete Employee page";
}

<div>
    <form action="/Employees/Delete" method="post">
    ID : <input type="number" id="id" name="id"><br><br>
    <button type="submit" id="btn" name="btn" value="submit">Delete Employee</button>
    </form>
</div>