@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" style="background-color: greenyellow;">
    <h1 class="display-4" style="font-size: 70px;">GreenMart</h1>
        <a href="/Product/Index" style="font-size: 20px;">Flowers</a><br>
        <a href="/Product/Index" style="font-size: 20px;">Fruits</a>
</div>

